


<div class="fill-h w-100">
  <div class="container d-flex justify-content-center">
    <div class="card w-50 d-flex" *ngIf="!submitted" >
      <form #ngForm="ngForm" (ngSubmit)="send(ngForm)" class="p-4 w-100" >
        <h5 class="card-title">Número de Protocolo</h5>
          <div class="form-floating mb-3">
            <input 
              [class.is-invalid]="(Protocol.touched && Protocol.invalid) || error"
              [(ngModel)]="object.Protocol"
              #Protocol="ngModel"
              name="Protocol"
              type="text" 
              class="form-control is-invalid" 
              id="Protocol" 
              required>
            <label class="text-body-tertiary" 
                    for="floatingInput">Protocolo*</label>
            <div *ngIf="!error" class="invalid-feedback">
              Por favor insira seu número de protocolo neste campo.
            </div>
            <div *ngIf="error" class="invalid-feedback">
              {{error}}
            </div>
          </div>
        <button type="submit" class="btn btn-dark mt-3" 
        [disabled]="ngForm.invalid || loading">Enviar</button>
      </form>

    </div>
    <div class="w-50" *ngIf="submitted">
      <div class="w-100">
        <div class="card w-100 p-4 px-0 d-flex justify-content-center m-0" *ngIf="list.length == 0">
       
            <p class="fs-6 text-dark d-flex justify-content-center m-0">Por favor, aguarde. Sua denúncia está em análise!</p>
       
       </div>
      </div>
      <div class="container-card" *ngIf="list.length != 0">
        <div class="card mask-custom mt-3 mb-3"
        [class.card-denunciante]="mensagem.MensagemDenunciante"
        [class.card-nao-denunciante]="!mensagem.MensagemDenunciante"
         *ngFor="let mensagem of list">
        <div *ngIf="mensagem.MensagemDenunciante"
           class="card-header d-flex justify-content-start p-3 bg-dark text-white" 
           style="border-bottom: 1px solid rgba(255,255,255,.3);">
          <p class="fw-bold text-white mb-0">Denunciante</p>
        </div>
      
        <div *ngIf="!mensagem.MensagemDenunciante" 
          class="card-header d-flex justify-content-start p-3 bg-secondary text-white" 
          style="border-bottom: 1px solid rgba(255,255,255,.3);">
          <div>
            <p class="fw-bold text-white mb-0 me-5">Denuncie OnLine</p>
          </div>
    
          
        </div>
        
          <div class="card-body">
            <p class="mb-0 text-secondary">
              {{mensagem.Descricao}}
            </p>
          </div>
          <p [class.time-right]="mensagem.MensagemDenunciante"
          [class.time-left]="!mensagem.MensagemDenunciante" class="text-secondary small mb-0 position-absolute"> {{formatDateTime(mensagem.DataHora)}}</p>
        </div>
       
      </div>
    
    
      <form #form="ngForm" class="mt-5" (ngSubmit)="sendMessage(form)">
        <div class="form-floating w-100 d-flex row justify-content-center ms-0">
          <textarea 
            [class.is-invalid]="textarea.touched && textarea.invalid"
            [(ngModel)]="message.Description"
            #textarea="ngModel"
            name="Description"
            type="text" 
            class="form-control mt-5" 
            placeholder="" 
            id="textarea" 
            style="height:100px"
            required>
          </textarea>
          <label class="text-body-tertiary mt-5" 
                  for="textarea">Sua Mensagem</label>
         <div class="invalid-feedback ">
          Por favor insira sua mensagem neste campo.
        </div>
        </div>
        
        <div class="d-flex justify-content-between">
          <button type="button" pRipple icon="pi pi-angle-left fs-5"  pButton class="p-element btn-back shadow-2 p-ripple mt-3 px-3" (click)="back()">Voltar</button>
          <button type="submit" class="btn btn-dark mt-3" [disabled]="form.invalid || loading">Enviar</button>
        </div>
      </form>
      
    </div>
    </div>
  </div>



  <router-outlet></router-outlet>
