<div class="container mb-5">
  <ngb-carousel *ngIf="images" class="">
    <ng-template ngbSlide >
        <img [src]="images[0]" alt="Random first slide" class="c-img">
        <div class="carousel-caption">
          <p><a class="btn btn-lg btn-primary" href="#">Saiba Mais</a></p>
        </div>
    </ng-template>
    <ng-template ngbSlide >
        <img [src]="images[1]" alt="Random second slide" class="c-img" >
        <div class="carousel-caption">
          <p><a class="btn btn-lg btn-primary" href="#">Saiba Mais</a></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide" class="c-img">
        <div class="carousel-caption">
          <p><a class="btn btn-lg btn-primary" href="#">Saiba Mais</a></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[3]" alt="Random third slide" class="c-img">
      <div class="carousel-caption">
        <p><a class="btn btn-lg btn-primary" href="#">Saiba Mais</a></p>
			</div>
  </ng-template>
  </ngb-carousel>
</div>


<div class="container marketing me-6">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-3 h-100">
      <div class="d-flex w-100 justify-content-center">
         <img class="rounded-circle mb-2 " width="140" height="140" src="../../../assets/icon-1.png" alt="">
      </div>
      <h2 class="fs-4 fw-bold text-center">Preservação de Imagem</h2>
      <p>Atendimento completo com assessoria altamente especializada em Compliance.</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3 h-100">
      <div class="d-flex w-100 justify-content-center">
        <img class="rounded-circle mb-3 " width="140" height="140" src="../../../assets/icon-2.png" alt="">
      </div>
      <h2 class="fs-4 fw-bold mb-2 text-center">Múltiplos Canais</h2>
      <p>Web, Mobile, 0800 e E-mail. Canais personalizados para sua empresa, com atendimento especializado e exclusivo.</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3 h-100">
      <div class="d-flex w-100 justify-content-center">
        <img class="rounded-circle mb-3 " width="140" height="140" src="../../../assets/icon-3.png" alt="">
      </div>
      <h2 class="fs-4 fw-bold mb-2 text-center">Gestão Estratégica</h2>
      <p>Indicadores, estatísticas e relatórios analíticos completos para direcionamento estratégico e aderência regulatória.</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3 h-100">
      <div class="d-flex w-100 justify-content-center">
        <img class="rounded-circle mb-3" width="140" height="140" src="../../../assets/icon-4.png" alt="">
      </div>
      <h2 class="fs-4 fw-bold mb-2 text-center">Treinamento</h2>
      <p class="fs-6">Formação com profissionais especializados para todos os níveis hierárquicos de sua companhia.</p>
    </div><!-- /.col-lg-3 -->
 
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Aderência Regulatória.</h2>
      <p class="lead">A resolução do Bacen nº 4.567 de 27 de Abril de 2017 estabelece o prazo de 90 dias para implantação deste canal de comunicação.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>

<div class="container">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nome</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Sua mensagem:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
  </form>
</div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">2024 © Denuncie OnLine. Todos os direitos reservados, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
  </footer>
</div>
 
