.c-img {
    width: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.carousel{
    width: 96%;
}

.gray-h:hover{
    background: #626466;
    color: white;
    transition: 0.4s;
}

.c-img-fit{
    width: fit-content;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.c-card-fit{
    padding-right: 0; 
}

.fs-8{
    font-size: 11pt;
}

@import "primeicons/primeicons.css";

