<!-- /SLIDES -->
<div class="container mb-5 d-flex justify-content-center align-items-center">
  <ngb-carousel *ngIf="images" class="carousel radius">
    <ng-template ngbSlide >
        <img [src]="images[0]" alt="Random first slide" class="c-img">
        <div class="carousel-caption">
          <p><a class="btn btn-lg btn btn-secondary" href="#fale-conosco">Saiba Mais</a></p>
        </div>
    </ng-template>
    <ng-template ngbSlide >
        <img [src]="images[1]" alt="Random second slide" class="c-img" >
        <div class="carousel-caption">
          <p><a class="btn btn-lg btn btn-secondary" href="#fale-conosco">Saiba Mais</a></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide" class="c-img">
        <div class="carousel-caption">
          <p><a class="btn btn-lg btn btn-secondary" href="#fale-conosco">Saiba Mais</a></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[3]" alt="Random third slide" class="c-img">
      <div class="carousel-caption">
        <p><a class="btn btn-lg btn btn-secondary" href="#fale-conosco">Saiba Mais</a></p>
			</div>
  </ng-template>
  </ngb-carousel>
</div>
<!-- /CANAL DE DENÚNCIA -->
<div id="canal-de-denuncia" class="container marketing me-6">
  <hr class="featurette-divider">
  <!-- Three columns of text below the carousel -->
  <p class="fs-2 fw-bold text-center mt-3 mb-3">CANAL<span class="text-body-secondary"> DE DENÚNCIA</span>
  <div class="row">
    <div class="col-lg-3 h-100">
      <div class="d-flex w-100 justify-content-center">
         <img class="rounded-circle mb-3 img-fluid" width="140" height="140" src="../../../assets/icon-1.png" alt="">
      </div>
      <h2 class="fs-4 fw-bold mb-2 text-center">Preservação de Imagem <i class="fa fa-check" aria-hidden="true"></i></h2>
      <p>Atendimento completo com assessoria altamente especializada em Compliance.</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3 h-100">
      <div class="d-flex w-100 justify-content-center">
        <img class="rounded-circle mb-3 img-fluid " width="140" height="140" src="../../../assets/icon-2.png" alt="">
      </div>
      <h2 class="fs-4 fw-bold mb-2 text-center">Múltiplos Canais</h2>
      <p>Web, Mobile, 0800 e E-mail. Canais personalizados para sua empresa, com atendimento especializado e exclusivo.</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3 h-100">
      <div class="d-flex w-100 justify-content-center">
        <img class="rounded-circle mb-3 img-fluid" width="140" height="140" src="../../../assets/icon-3.png" alt="">
      </div>
      <h2 class="fs-4 fw-bold mb-2 text-center">Gestão Estratégica</h2>
      <p>Indicadores, estatísticas e relatórios analíticos completos para direcionamento estratégico e aderência regulatória.</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3 h-100">
      <div class="d-flex w-100 justify-content-center">
        <img class="rounded-circle mb-3 img-fluid" width="140" height="140" src="../../../assets/icon-4.png" alt="">
      </div>
      <h2 class="fs-4 fw-bold mb-2 text-center">Treinamento</h2>
      <p class="fs-6">Formação com profissionais especializados para todos os níveis hierárquicos de sua companhia.</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <!-- DIAGRAM -->
  <div id="fluxo-acessoria">
    <p class="fs-2 fw-bold text-center mt-3">FLUXO<span class="text-body-secondary"> E ASSESSORIA</span>
    <img class="img-fluid justify-content-center" src="../../../assets/fluxo3.png" alt="fluxo">  
  </div>
  <hr class="featurette-divider">
  <!-- VANTAGENS E BENEFÍCIOS -->
  <p class="fs-2 fw-bold text-center mt-3 mb-3" id="vantagens">VANTAGENS<span class="text-body-secondary"> E BENEFÍCIOS</span>
  <div class="row featurette" >
    <div class="row">
      <div class="col-sm-5">
        <div class="card gray-h mb-2">
          <div class="card-body">
            <h5 class="card-title">Aderência Regulatória <i class="pi pi-check-circle"></i></h5>
            <p class="card-text">A resolução do Bacen nº 4.567 de 27 de Abril de 2017 estabelece o prazo de 90 dias para implantação deste canal de comunicação.</p>
          </div>
        </div>
        <div class="card gray-h mb-2">
          <div class="card-body">
            <h5 class="card-title">Fortalecimento de Reputação e Imagem <i class="pi pi-check-circle"></i></h5>
            <p class="card-text">A disponibilização de um canal de denúncias evidencia e reforça o comprometimento da empresa com princípios legais, éticos e morais.
              Esta iniciativa cativa e consolida a credibilidade perante colaboradores, fornecedores e clientes.</p>
          </div>
        </div>
        <div class="card gray-h mb-2">
          <div class="card-body">
            <h5 class="card-title">Redução de Custo <i class="pi pi-check-circle"></i></h5>
            <p class="card-text">Evitando custos de contratação, treinamento e encargos trabalhistas a empresa economiza não apenas dinheiro, mas também horas de trabalho de seus gestores.
              O cliente não se preocupa com quadro de colaboradores pois há substituição ágil em caso de falta por problemas de saúde, férias ou desligamento de funcionários.</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <img class="rounded img-fluid" src="../../../assets/Regulamento2.png" alt="" width="750" height="500">
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <!-- VANTAGENS E BENEFÍCIOS PARTE 2 -->
  <div class="row featurette">
    <div class="row d-flex justify-content-between m-0">
      <div class="col-sm-5 p-1 pe-3">
        <img class="me-4 rounded img-fluid" src="../../../assets/seguranca1.png" alt="" width="750" height="500">
      </div>
      <div class="col-sm-5 pl-3">
        <div class="card gray-h mb-2">
          <div class="card-body">
            <h5 class="card-title">Assessoria Especializada <i class="pi pi-check-circle"></i></h5>
            <p class="card-text">Satisfação garantida com um serviço de excelência que só pode ser prestado por especialistas com anos de experiência nacional e internacional.</p>
          </div>
        </div>
        <div class="card gray-h mb-2">
          <div class="card-body">
            <h5 class="card-title">Idoneidade e Imparcialidade <i class="pi pi-check-circle"></i></h5>
            <p class="card-text">A externalização do canal de denúncias garante que ninguém poderá ter acesso ao sistema para modificar ou excluir qualquer manifestação.
              Esta característica garante tratamento de 100% das ocorrências com total isenção e imparcialidade.</p>
          </div>
        </div>
        <div class="card gray-h mb-2">
          <div class="card-body">
            <h5 class="card-title">Sigilo e Confidencialidade <i class="pi pi-check-circle"></i></h5>
            <p class="card-text">Nosso Canal de Denúncias garante total sigilo e confidencialidade, perante eliminação de qualquer necessidade de identificação do denunciante.
              Os denunciantes sentem o conforto de não haver rastreamento de ligação, e-mail, mensagem ou reconhecimento de voz.
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
</div>
<!-- /FALE CONOSCO -->
<p class="fs-4 fw-bold p-3 text-center">Será um prazer fazer a diferença na sua empresa</p>
<div class="container d-flex flex-wrap justify-content-lg-between  justify-content-center">
  <div class="card w-50 d-flex">
    <form #ngForm="ngForm" (ngSubmit)="send(ngForm)" class="p-4 w-100">
      <h5 class="card-title">Fale Conosco</h5>
        <div class="form-floating mb-3">
          <input 
            [class.is-invalid]="name.touched && name.invalid"
            [(ngModel)]="object.name"
            #name="ngModel"
            name="name"
            type="text" 
            class="form-control is-invalid" 
            id="name" 
            placeholder="name@example.com"
            required>
          <label class="text-body-tertiary" 
                  for="name">Nome*</label>
          <div class="invalid-feedback">
            Por favor insira seu nome.
          </div>
        </div>
       
        <div class="form-floating mb-3" >
          <input 
            [class.is-invalid]="email.touched && email.invalid"
            [(ngModel)]="object.email"
            #email="ngModel"
            type="email" 
            name="email"
            class="form-control is-invalid" 
            id="email" 
            placeholder="name@example.com"
            required>
          <label class="text-body-tertiary" 
                  for="email">E-mail*</label>
          <div class="invalid-feedback">
            Por favor insira um e-mail válido.
          </div>
        </div>
        <div class="form-floating mb-3">
          <input 
            [class.is-invalid]="phone.touched && phone.invalid"
            [(ngModel)]="object.phone"
            #phone="ngModel"
            name="phone"
            type="text" 
            class="form-control" 
            id="phone" 
            placeholder="name@example.com"
            required>
          <label class="text-body-tertiary" 
                  for="phone">Telefone*</label>
          <div class="invalid-feedback">
            Por favor insira um telefone válido.
          </div>
        </div>
        <div class="form-floating">
          <textarea 
            [class.is-invalid]="message.touched && message.invalid"
            [(ngModel)]="object.message"
            #message="ngModel"
            name="message"
            type="text" 
            class="form-control" 
            placeholder="Leave a comment here" 
            id="message" 
            style="height:100px"
            required>
          </textarea>
          <label class="text-body-tertiary" 
                  for="message">Sua Mensagem</label>
          <div class="invalid-feedback">
            Por favor insira sua mensagem neste campo.
          </div>
        </div>
      <button type="submit" class="btn btn-dark mt-3" 
      [disabled]="ngForm.invalid || loading">Enviar Mensagem</button>
    </form>
  </div>
  


</div>
<div class="container w-100 mt-2">
  <div class="d-flex flex-wrap justify-content-center align-items-center">
    <p class="text-body-secondary fs-8 d-flex align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="currentColor" class="bi bi-envelope text-body-secondary me-1" viewBox="0 0 16 16">
      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
    </svg> contato&#64;denuncieonline.com.br</p>
    <p class="text-body-secondary ms-5 fs-8 d-flex align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="currentColor" class="bi bi-telephone text-body-secondary me-1" viewBox="0 0 16 16">
      <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
    </svg> +55 (11) 4323-9965</p>
  </div>
</div>


<router-outlet></router-outlet>
 
